{% extends "personal/header.html" %}

{% block content %}
    {% for c in content %}
        {% if c.2 > 4 %}
        <tr class="bg-primary text-white" style="background-color:#ff5B43" style="color:#ffffff">
        {% else %}
        <tr class="bg-warning" style="background-color:#e8b70a">
        {% endif %}
          <th scope="row">{{forloop.counter}}</th>
          <td><img src="https://img.tesco.com/Groceries/pi/{{c.5}}/{{c.0}}/IDShot_540x540.jpg" class="responsive-img" style='max-height:100px;' alt="face"></td>
          <td>{{c.4}}</td>
          <td>{{c.1}}</td>
          <td>{{c.2}}</td>
          <td>
          {% load static %}
          <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
          <img id="imageresource" src="{% static ""%}{{c.3}}" data-img="{% static ""%}{{c.3}}" style='max-height:100px;' alt="face">
          </button>
          </td>
        </tr>
    {% endfor%}
{% endblock %} 